:root {
    --c-sidebar: #000000;
    --c-default: #D9D9D9;
    --c-active: #1DA1F2;
    --c-hover: #081018;
}

aside {
    width: 280px;
    border-radius: 24px;
    padding: 40px;
    background: var(--c-sidebar);
    .logo {
        display: block;
        width: 28px;
        height: 28px;
        fill: var(--logo-color, var(--c-default));
        margin-bottom: 36px;
    }

    nav {
        display: grid;
        grid-gap: 36px;
        button {
            --c-color: var(--c-default);
            --c-background: var(--c-sidebar);
            --icon-fill: var(--c-background);
            -webkit-tap-highlight-color: transparent;
            -webkit-appearance: none;
            outline: none;
            background: none;
            border: none;
            padding: 0;
            margin: 0;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
            font-size: 19px;
            line-height: 24px;
            font-weight: bold;
            text-align: left;
            display: block;
            cursor: pointer;
            position: relative;
            color: var(--c-color);
            &.active {
                --icon-fill: var(--c-active);
                --c-color: var(--c-active);
            }